/* By Andy N.H. Nguyen - https://andynhn.me/ - https://github.com/andynhn/ */

@charset "ISO-8859-1";
		
#wrapper-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	min-width: 300px;
}
#wrapper-opacity {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	background-color: black;
	border-radius: 10px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	width: 600px;
	height: 350px;
}
#home-title {
	font-size: 60px;
	color: white;
}
 #home-sub-title {
	color: white;
	margin: 0px;
	font-weight: bold;
	font-size: 18px;
}
/*----- REGISTER FORM -----*/

.register-page {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.form-register {
	width: 100%;
	max-width: 330px;
	padding: 10px;
	margin: auto;
}
.form-register .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 6px;
	font-size: 14px;
}
.form-register .form-control:focus {
	z-index: 2;
}
#inputEmailRegister {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
#inputUsername {
	margin-top: -1px;
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
#inputFname {
	margin-top: -1px;
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
#inputLname {
	margin-top: -1px;
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
#inputPasswordRegister {
	margin-top: -1px;
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
#inputConfirmPassword {
	margin-bottom: 15px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

/*----- LOGIN FORM -----*/

.login-page {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.form-login {
	width: 100%;
	max-width: 330px;
	padding: 10px;
	margin: auto;
}
.form-login .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 6px;
	font-size: 14px;
}
.form-login .form-control:focus {
	z-index: 2;
}
#inputEmailLogin {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
#inputPasswordLogin {
	margin-bottom: 15px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/*----- ADD SONG FORM -----*/

.addsong-page {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}
.form-addsong {
	width: 100%;
	max-width: 330px;
	padding: 10px;
	margin: auto;
}
.form-addsong .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 6px;
	font-size: 14px;
}
.form-addsong .form-control:focus {
	z-index: 2;
}
#inputYouTubeLinkDesc {
	margin-bottom: 40px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/*----- SHOW SONG PAGE -----*/

.showsong-page {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

/*----- EDIT PROFILE FORM -----*/

.editprofile-page {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}
.form-updateprofile {
	width: 100%;
	max-width: 330px;
	padding: 10px;
	margin: auto;
}
.form-updateprofile .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 6px;
	font-size: 14px;
}
.form-updateprofile .form-control:focus {
	z-index: 2;
}

.edit-profile-label {
	margin-bottom: 3px;
	font-size: 14px;
}
.edit-profile-errors {
	font-size: 14px;
}
.edit-profile-block {
	margin-bottom: 10px;
}

/*----- GENERAL CSS STYLING -----*/

.fa-play {
	font-size: 30px;
	color: teal;
}
#disclaimer {
	font-size: 12px;
	font-style: italic;
}
.example-input {
	font-size: 12px;
}
.capitalize {
	text-transform: capitalize;
}
.white{
	color: white;
}
.red {
	color: red;
}
.gold {
	color: gold;
}
.bg-black-opacity] {
	background: black;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.bg-black {
	background: black;
}
.triangle-play-button {
	font-size:20px;
	color:teal;
}
